
<h2 align="center" style="color: red;">Tutorial</h2>

<p align="left">
	Welcome to the tutorial for the Davis Bacon 401k Employee Benefits Management System.
</p>

<p align="left">
	In this tutorial, you will be guided through basic steps to get up and running with this system.
	This tutorial will take you through all of the help topics available.
	If you wish to skip to a particular help topic, please click the help menu items on the left
	which will describe the features of each of the major sections of the system.
</p>

<p align="left">
	Lets get started with logging in to the system:
</p>

<hr style="height: 5px; background-color: red; border: 0px;">

<br/>
<%= render :partial => 'login' %>

<hr style="height: 5px; background-color: red; border: 0px;">

<br/>
<%= render :partial => 'current_month' %>

<hr style="height: 5px; background-color: red; border: 0px;">

<br/>
<%= render :partial => 'employees' %>

<hr style="height: 5px; background-color: red; border: 0px;">

<br/>
<%= render :partial => 'benefits' %>

<hr style="height: 5px; background-color: red; border: 0px;">

<br/>
<%= render :partial => 'reports' %>

<hr style="height: 5px; background-color: red; border: 0px;">

<br/>
<%= render :partial => 'users' %>

<hr style="height: 5px; background-color: red; border: 0px;">
