<br><h2>Editing employee package</h2>

<%= form_for(@employee_package) do |f| %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<% end %>

<%= link_to 'Edit Employee', :controller => 'employee', :action => 'show', :id => @employee_package.employee_id %> |
<%= link_to 'List Employees', :controller => 'employee', :action => 'list' %>
