<br>
<h2>
  Employee Compensation Packages Listing for
  <%= @employee.last_name + ", " + @employee.first_name + " " + @employee.mi %>
</h2>

<table border="2">
  <thead>
    <tr>
      <th>Effective<br/>Date</th>
      <th>Hourly<br/>Wage</th>
      <th>Monthly<br/>Medical</th>
      <th>Sick<br/>Hours</th>
      <th>Holiday<br/>Hours</th>
      <th>Vacation<br/>Hours</th>
      <th>Personal<br/>Hours</th>
      <th>Safe<br/>Harbor %</th>
      <th>Hourly<br/>Benefit</th>
    </tr>
  </thead>

  <tbody>

<%
if (@employee_benefits_paged != nil) then
  for pkg in @employee_benefits_paged %>
    <tr>
      <td><%=h pkg.employee_package["eff_month"] %>/<%=h pkg["eff_year"] %></td>
      <td><%=h pkg.employee_package.hourly_wage %></td>
      <td><%=h pkg.employee_package.monthly_medical %></td>
      <td><%=h pkg.employee_package.annual_sick %></td>
      <td><%=h pkg.employee_package.annual_holiday %></td>
      <td><%=h pkg.employee_package.annual_vacation %></td>
      <td><%=h pkg.employee_package.annual_personal %></td>
      <td><%=h pkg.employee_package.safe_harbor_pct %></td>
      <td><%=h round_money_s(pkg.employee_package.calc_hourly_benefit) %></td>
      <td><%= link_to 'Display', :action => 'show', :id => pkg %></td>
      <td><%= link_to 'Edit', :action => 'edit', :id => pkg %></td>
    </tr>
<%
  end
end
%>
  </tbody>
</table>

        <%=
          will_paginate @employee_benefits_paged
        %>

<br />

<%= link_to 'New Employee Package', :action => 'new' %>
