<br><h2>Editing user</h2>

<form action='/users/<%= @user.id %>' method='put'>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
</form>

<%= link_to 'Display', :action => 'show', :id => @user %> |
<%= link_to 'List', :action => 'list' %>
